.box {
border: solid;
position: fixed;
height: 110px;
width: 430px;
top: 40px;
left: 40px;
padding-left: 8px;
padding-top: 15px;
padding-bottom: 5px;
padding-right: 15px;
box-shadow: 12px 12px 0;
border-radius: 10px;
background-color: white;
display: flex;
flex-direction: row;
z-index: 1000;
}

.image {
  border: solid black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
  flex-shrink: 0;
  background-image: url(images/bartender-head.png);
  background-size: cover;
}

.body p {
  padding: 0;
  margin: 0;
}

.text-section {
  font-family: "captain-comic", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
}

.title {
  /*border: solid;*/
  padding: 0;
  margin: 0;

  font-family: "captain-comic", sans-serif;
font-weight: 700;
font-size: 16px;
}

.title p {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}



.italic-bold {
  font-style: italic;
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.span-bold {
  font-family: "captain-comic", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.arrow {
  display: flex;
  width: 310px;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 8px;
  right: 15px;
}

.arrow-left {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  transform: rotate(135deg);
  background: none;
  transition: 0.2ms;
  cursor: pointer;
}

.arrow-right {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  transform: rotate(-45deg);
  background: none;
  transition: transform 0.2s;
  cursor: pointer;
}

.arrow-right:hover {
  transform: rotate(-45deg) scale(1.3);
}

.arrow-left:hover {
  transform: rotate(135deg) scale(1.3);
}

.arrow-right-disabled {
  pointer-events: none;
  opacity: 3;
}



.person-bubble {
  background-image: url(images/cloudy-bubble-long.png);
  position: absolute;
  left: -350px;
  top: -245px;
  width: 358px;
  height: 274px;
  z-index: 3000;
}

.person-bubble-text {
  /*border: solid red;*/
  height: 90px;
  width: 220px;
  margin-top: 30px;
  margin-left: 20px;

  font-family: "captain-comic", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
}

.person-title {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
}

.person-text {
  width: 170px;
  margin-left: 18px;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

.angry-bubble {
  background-image: url(images/angry-bubble.png);
  position: absolute;
  left: 20px;
  top: 250px;
  width: 299px;
  height: 240px;
  z-index: 582;
}

.blind-man {
  position: fixed;
  left: 1372px;
  top: 263px;
  z-index: 526;
}


.person-button {
  background: none;
  border: none;
background-image: url(images/blind-man.png);
width: 120px;
height: 332px;
cursor: pointer;
}

.person-button:hover {
  transform: scale(1.1);
}

.person-button-disabled {
  pointer-events: none;
}




.decision-buttons {
  width: 310px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.decision-buttons button {
  border: solid black;
  font-family: "captain-comic", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.decision-buttons button:hover {
  box-shadow: 2px 2px 0 black;
  transform: scale(1.1);
}








.person-gameover-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 9999;
  background-image: url(images/floor.png);
}

.person-gameover-popup iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: fixed;
  z-index: 9999;
}



.person-small {
  background-image: url(images/blind-man-small.png);
  position: absolute;
  left: 792px;
  top: 300px;
  width: 91px;
  height: 229px;
  z-index: 1;
}

.person-small-bubble {
  background-image: url(images/cloudy-bubble.png);
  position: absolute;
  left: -280px;
  top: -100px;
  width: 278px;
  height: 138px;
  z-index: 2000;
}

.person-small-bubble-text {
  /*border: solid red;*/
  height: 90px;
  width: 180px;
  margin-top: 25px;
  margin-left: 23px;
  text-align: center;
  padding: 0;

  font-family: "captain-comic", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
}

.person-small-text {
  padding: 0;
  margin: 0;
}

.person-small-text-two {
  padding: 0;
  margin: 0;
}
